.banner__top--bar--inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.banner__top--button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner__top--logo {
    max-width: 151px;
}

img.logo--header {
    width: 100%;
    height: auto;
    display: block;
}

.banner__top--bar--wrapper   {
    background: #f5f5f5;
    padding: 10px 0px;
}

.banner__top--text p{
    margin: 0px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    color: #000000;
}

a.header--button {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    background: #FFF544;
    color: #000000;
    text-decoration: none;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 13px;
    min-width: 207px;
    justify-content: center;
}
.banner__bottom--text {
    background: #F5F5F5;
    padding: 11px;
}
.banner__bottom--textinner p{
    margin: 0px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    letter-spacing: 0px;
    text-align:center;
    color: #000000;
}

.content__heading h2{
    font-family: Jost;
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
    margin: 0px;
}
.content__text p{
    margin: 0px;
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0px;
}

a.banner__btn {
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    background: #000000;
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    gap: 8px;
}

.content__inner--main {
    display: flex;
    flex-direction: column;
    gap: 35px;
    max-width: 483px;
}

.image__main--wrapper img{
    width:100%;
    display:block;
    height:auto;
}
.banner--main--middle {
    position: relative;
}
.content__wrapper--main {
    padding: 50px;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
}

.image__main--wrapper .mobile-image {
    display:none;
}
.hide-desktop {
   display: none!important;
}

@media screen and (max-width: 1300px){
    .content__heading h2 {
    font-family: Jost;
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    margin: 0;
}
a.banner__btn {
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    text-decoration: none;
    padding: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 193px;
    gap: 8px;
}
.content__text p {
    margin: 0;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
}
.content__inner--main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 40%;
}

}

@media screen and (max-width: 768px){
    .image__main--wrapper .mobile-image {
    display:block;
   }
   .image__main--wrapper .desktop-image {
    display:none;
   }
  .content__wrapper--main {
    padding: 34px;
    position: static;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
}
   .content__heading h2 {
    font-family: Jost;
    font-weight: 500;
    font-size: 30px;
    line-height: 100%;
    margin: 0;
    text-align:center;
    }
  .content__inner--main {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 100%;
    justify-content: center;
    align-items:center;
   }
   .banner--main--middle {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
}
.banner__bottom--textinner p {
    margin: 0;
    font-family: Jost;
    font-weight: 400;
    font-size: 14px;
    line-height: 13.42px;
    letter-spacing: 0px;
    text-align: center;
    color: #000;
}
.content__text p {
    margin: 0;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: 0px;
    text-align: center;
}
.hide-mobile {
    display:none;
}
.hide-desktop {
   display: block;
}
.content__button.hide-desktop {
    position: absolute;
    bottom: 42px;
    left: 50%;
    transform: translateX(-50%);
}

.banner__top--bar--wrapper {
    background: #f7f7f7;
    padding: 23px 0;
}
.banner__top--bar--inner {
    align-items: center;
    justify-content: center;
    display: flex;
    position:relative;
}
.drawer--icon--header {
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%);
    display:block;
}

.drawer--main--inner {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.drawer--main--banner {
    background: #f2f2f2;
    padding: 25px 40px;
    position: fixed;
    top: -100%;
    left: 0px;
    width: 100%;
    z-index: 1;
    transition: top 0.3s ease-in-out;
}
.drawer--main--banner.active{
 top: 65px;
}
.banner__top--bar--wrapper {
      z-index: 2;
      position:relative;
}
.hide-desktop {
   display: block!important;
}

}