.banner__top--bar--inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.banner__top--button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner__top--logo {
    max-width: 151px;
}

img.logo--header {
    width: 100%;
    height: auto;
    display: block;
}

.banner__top--bar--wrapper   {
    background: #F5F5F5;
}

.banner__top--text p{
    margin: 0px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    color: #000000;
}

a.header--button {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    background: #FFF544;
    color: #000000;
    text-decoration: none;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 13px;
    min-width: 207px;
    justify-content: center;
}