.banner__top--bar--inner {
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
}

.banner__top--button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.banner__top--logo {
    max-width: 151px;
}

img.logo--header {
    width: 100%;
    height: auto;
    display: block;
}

.banner__top--bar--wrapper   {
    background: #f5f5f5;
    padding: 10px 0px;
}

.banner__top--text p{
    margin: 0px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    color: #000000;
}

a.header--button {
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    text-transform: uppercase;
    background: #FFF544;
    color: #000000;
    text-decoration: none;
    padding: 12px;
    display: flex;
    align-items: center;
    gap: 13px;
    min-width: 207px;
    justify-content: center;
}
.banner__bottom--text {
    background: #F5F5F5;
    padding: 11px;
}
.banner__bottom--textinner p{
    margin: 0px;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 13.42px;
    letter-spacing: 0px;
    text-align:center;
    color: #000000;
}

.content__heading h2{
    font-family: Jost;
    font-weight: 500;
    font-size: 70px;
    line-height: 100%;
    margin: 0px;
}
.content__text p{
    margin: 0px;
    font-family: Jost;
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: 0px;
}

a.banner__btn {
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    color: white;
    background: #000000;
    text-decoration: none;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 220px;
    gap: 8px;
}