.heading__grid--v2 h2{
    font-family: Lustria;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    margin:0px;
}

.product__block--inner img{
    width:100%;
    height:auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display:block;
}

.main__grid--productsv2 {
    margin-top: 30px;
}

.inner__product--grid--v2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product__block--inner {
    position: relative;
}

.popup__btn-main {
    position: absolute;
    height: 22px;
    width: 22px;
    background: #F8F8F8E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.popup__btn-main svg{
    transition: transform 0.3s ease;
}

.popup__btn-main:hover svg{
    transform: rotate(45deg);
}