.heading__grid--v2 h2{
    font-family: Lustria;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    margin:0px;
}

.product__block--inner img{
    width:100%;
    height:auto;
    aspect-ratio: 1/1;
    object-fit: cover;
}