.heading__grid--v2 h2{
    font-family: Lustria;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    margin:0px;
}

.product__block--inner img{
    width:100%;
    height:auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display:block;
}

.main__grid--productsv2 {
    margin-top: 30px;
}

.inner__product--grid--v2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product__block--inner {
    position: relative;
}

.popup__btn-main {
    position: absolute;
    height: 22px;
    width: 22px;
    background: #F8F8F8E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor:pointer;
}
.popup__btn-main svg{
    transition: transform 0.3s ease;
}

.popup__btn-main:hover svg{
    transform: rotate(45deg);
}

.popup__wrpper--main.active{
    display:flex;
}

.popup__wrpper--main {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #00000054;
    z-index: 4;
    display:none;
    align-items: center;
    justify-content: center;
}



.popup--inner {
    position: relative;
    padding: 30px 18px;
    box-shadow: 0px 2px 4px 0px #00000033;
    width: 311px;
    height: 447px;
    background: white;
    overflow: auto;
}
.popupClosebtn {
    position: absolute;
    right: 12px;
    top: 10px;
}


.popupClosebtn {
    cursor:pointer;
}

.product__image--main img{
    width: 100%;
    aspect-ratio: 1 / 1.17;
    object-fit: cover;
}

.product__image--main {
    max-width: 120px;
}
.product--top--data {
    display: flex;
    gap: 8px;
}

.product__title--main {
    font-family: Jost;
    font-weight: 300;
    font-style: Light;
    font-size: 16px;
    color: #000000;
}

@media screen and (max-width: 768px){
    .inner__product--grid--v2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4px;
}
.main__grid--productsv2 {
    margin-top: 20px;
}
.heading__grid--v2 h2 {
    font-family: Lustria;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    text-align: center;
    color: #000000;
}
.product__block--inner img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.1;
    object-fit: cover;
    display: block;
}
.popup__btn-main {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #f8f8f8e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.popup__btn-main svg {
    height: 6px;
    width: 6px;
}
}