.heading__grid--v2 h2{
    font-family: Lustria;
    font-weight: 400;
    font-size: 36px;
    line-height: 120%;
    margin:0px;
}

.product__block--inner img{
    width:100%;
    height:auto;
    aspect-ratio: 1/1;
    object-fit: cover;
    display:block;
}

.main__grid--productsv2 {
    margin-top: 30px;
}

.inner__product--grid--v2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.product__block--inner {
    position: relative;
}

.popup__btn-main {
    position: absolute;
    height: 22px;
    width: 22px;
    background: #F8F8F8E5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor:pointer;
}
.popup__btn-main svg{
    transition: transform 0.3s ease;
}

.popup__btn-main:hover svg{
    transform: rotate(45deg);
}

.popup__wrpper--main.active{
    display:flex;
}

.popup__wrpper--main {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background: #00000054;
    z-index: 4;
    display:none;
    align-items: center;
    justify-content: center;
}



.popup--inner {
    position: relative;
    padding: 30px 18px;
    box-shadow: 0px 2px 4px 0px #00000033;
    width: 311px;
    height: 447px;
    background: white;
    overflow: auto;
}
.popupClosebtn {
    position: absolute;
    right: 12px;
    top: 10px;
}


.popupClosebtn {
    cursor:pointer;
}

.product__image--main img{
    width: 100%;
    aspect-ratio: 1 / 1.17;
    object-fit: cover;
    display:block;
}

.product__image--main {
    max-width: 120px;
    min-width:120px;
}
.product--top--data {
    display: flex;
    gap: 8px;
}

.product__title--main {
    font-family: Jost;
    font-weight: 300;
    line-height:120%;
    font-size: 16px;
    color: #000000;
}

.product__description--main p{
    font-family: Jost;
    font-weight: 300;
    font-size: 14px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    color: #000000;
    margin: 0px;
}
.product-price--main {
    font-family: Lustria;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    leading-trim: NONE;
    line-height: 120%;
    letter-spacing: 0px;
    vertical-align: middle;
    padding: 10px 0px;
}

button.add-to-cartbutton {
    width: 100%;
    height: 45px;
    background: #000000;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;
    line-height: 20.48px;
    letter-spacing: 0px;
    text-align: center;
    vertical-align: middle;
    text-transform: uppercase;
    margin-top: 13px;
    border:unset;
    cursor: pointer;
}

.custom-select {
  position: relative;
  margin-bottom: 15px;
  width:100%;
}
.select-trigger {
    padding: 12px 12px;
    border: .5px solid #000000;
    cursor: pointer;
    width: 100%;
    font-family: Jost;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -2%;
    color: #000000;
}
.select-options {
  display: none;
  position: absolute;
  background: #fff;
  width: 100%;
  border: 1px solid #ccc;
  z-index: 10;
  max-height: 150px;
  overflow-y: auto;
}
.custom-select.open .select-options { display: block; }
.select-options li {
  padding: 8px;
  cursor: pointer;
}
.select-options li:hover { background: #f5f5f5; }
ul.select-options {
    list-style: none;
    padding: 0px;
    text-align: center;
}

button.add-to-cartbutton svg{
   transition:all 0.3s ease;
}

button.add-to-cartbutton:hover svg{
   transform: translateX(10px);
}

.popup__variants--main {
    display: flex;
    flex-direction: column-reverse;
}

.option-name {
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 14px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #333333;
}

.color-option input{
    display:none;
}

.option__main--wrapper {
    display: flex;
    padding: 10px 0px;
}

label.color-option {
    flex: 1;
    height: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: Jost;
    font-weight: 400;
    font-style: Regular;
    font-size: 18px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: -2%;
    text-transform: capitalize;
    border: 0.5px solid #000000;
    cursor: pointer;
}

.color--field {
    width: 4px;
    height: 100%;
    border-right: 0.5px solid black;
    display:block!important;
}

.option-group.color-group .option__main--wrapper input[type="radio"]:checked + label.color-option {
  background: #000000;
  color: #fff;
}

.color-option input:checked + label .color--field {
  background: black !important;
}

.color-option input:checked + label .swatch {
  color: white !important;
}


.custom-select li.selected {
  background: black;
  color: white;
}


@media screen and (max-width: 768px){
    .inner__product--grid--v2 {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4px;
}
.main__grid--productsv2 {
    margin-top: 20px;
}
.heading__grid--v2 h2 {
    font-family: Lustria;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    margin: 0;
    text-align: center;
    color: #000000;
}
.product__block--inner img {
    width: 100%;
    height: auto;
    aspect-ratio: 1/1.1;
    object-fit: cover;
    display: block;
}
.popup__btn-main {
    position: absolute;
    height: 15px;
    width: 15px;
    background: #f8f8f8e5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
}
.popup__btn-main svg {
    height: 6px;
    width: 6px;
}
}